version: '1.0'

services:
  eureka-service:
    image: eureka-server
    build:
      context: eureka-server/.
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    environment:
      SPRING_APPLICATION_NAME: eureka-server
      EUREKA_SERVER_PORT: 8761
      EUREKA_CLIENT_FETCH_REGISTRY: false
      EUREKA_CLIENT_REGISTER_WITH_EUREKA: false
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: true
    networks:
      - postgres

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped

  customer:
    image: customer
    build:
      context: customer/.
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_URL: jdbc:postgresql://postgres:5432
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      EUREKA_URL: http://eureka-service:8761/eureka
    depends_on:
      - postgres
      - eureka-service
      - fraud
    networks:
      - postgres

  fraud:
    image: fraud
    build:
      context: fraud/.
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_URL: jdbc:postgresql://postgres:5432
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      EUREKA_URL: http://eureka-service:8761/eureka
    depends_on:
      - postgres
      - eureka-service
    networks:
      - postgres

  gateway-service:
    image: gateway-service
    build:
      context: gateway-service/.
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      SPRING_APPLICATION_NAME: gateway-service
      EUREKA_CLIENT_REGISTER_WITH_EUREKA: true
      EUREKA_CLIENT_FETCH_REGISTRY: true
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-service:8761/eureka
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: '*'
    depends_on:
      - eureka-service
    networks:
      - postgres

networks:
  postgres:
    driver: bridge

volumes:
  postgres_data:
  pgadmin:
  jenkins_home: